<div style="margin:100px auto; text-align: center">
    <button style="width:100px; height: 30px" class="getUserInfo">getUserInfo</button>
    <button style="width:100px; height: 30px" class="searchRoutes">searchRoutes</button>
</div>